/* ==UserStyle==
@name           Wire Evening
@description    Dark theme for Wire.com's web app based off of IRCCloud's Ash color scheme.
@author         kinghat
@namespace      https://gitlab.com/kinghat/wireevening
@homepageURL    https://gitlab.com/kinghat/wireevening
@supportURL     https://gitlab.com/kinghat/wireevening
@updateURL      https://gitlab.com/kinghat/wireevening/raw/master/wireevening.user.css
@version        1.0.3
@license        MIT
==/UserStyle== */

@-moz-document domain("app.wire.com") {
    /* loading and login screens */
    .css-2m78et {
        background-color: #1c1c1c;
    }

    .css-jxljkw {
        background-color: #404040;
        color: #d9d9d9;
    }

    .css-x6xgx7 {
        background-color: #1c1c1c;
        box-shadow: none;
    }

    .css-tiaeoo,
    .css-4125o5 {
        color: #d9d9d9;
    }

    a.css-14r5wcb,
    a.css-1x0swkq:link,
    .css-1x0swkq:link {
        /* outer login area text items */
        color: #d9d9d9;
    }

    .inputSubmitCombo,
    .css-161jd04-InputSubmitCombo {
        background-color: #404040;
        /* background: none; */
        /* margin-top: 0; */
    }

    .input.css-jxljkw {
        margin-top: 0px;
    }

    .css-pylcnt {
        /* wire already open in this browser popup */
        background-color: #404040;
    }

    .progress-console {
        /* progress bar text when logging in */
        color: #d9d9d9;
    }

    .css-7ktwgr {
        color: #d9d9d9;
    }

    .css-u0un3m {
        color: #d9d9d9;
    }

    .jYcVOX {
        color: #8d989f;
    }

    .kjiwaE {
        color: #8d989f;
    }

    .ltVDN {
        color: #8d989f;
    }

    .jIVPkb {
        color: #8d989f;
    }

    .gODKmJ {
        background-color: #d9d9d9;
        box-shadow: #404040 16px 16px 0px inset, #404040 -16px -16px 0px inset;
    }

    .jAiAmH {
        background-color: #404040;
        color: #d9d9d9;
    }

    .CrvtF {
        background-color: #404040;
    }

    /* .fEUkWF { !!!THIS NEEDS FIGURED OUT!!!
        color: red;
    }

    .sc-bsbRJL etaRqQ sc-iQNlJl dWfOIE {
        color: #8D989F;
    }

    .exOYoO:link {
        color: #8D989F; 
    } */

    .loading-screen {
        background-color: #404040;
    }

    /*left-column background image and color*/
    .background-image {
        background-image: none !important;
        background-color: #d9d9d9;
    }

    /*conversation title bar background*/
    .conversation-title-bar {
        background-color: #404040;
    }

    /*conversation title bar library*/
    body {
        color: #d9d9d9;
    }

    /*conversation title bar icons, pickup and info*/
    .conversation-title-bar-icon svg path {
        fill: #d9d9d9;
    }

    .conversation-title-bar-icon svg path {
        fill: #d9d9d9;
    }

    /*main chat area background color*/
    .app {
        background-color: #1c1c1c;
    }

    /*msg context menu*/
    .message:hover .context-menu,
    .message:hover .time,
    .message .show-timestamp.time {
        background-color: #1c1c1c;
    }

    .time,
    .context-menu {
        background-color: transparent !important;
    }

    .message-body-actions .time,
    .icon-more {
        color: #d9d9d9;
    }

    .message-status {
        color: #d9d9d9 !important;
    }

    /*context menu pop up*/
    .ctx-menu {
        background-color: #404040;
    }

    /*bottom bar and text area background*/
    .conversation-input-bar {
        position: relative;
        display: flex;
        width: 100%;
        min-height: 56px;
        box-sizing: content-box;
        background-color: #1c1c1c;
    }

    .conversation-input-bar-text {
        background-color: #404040;
        color: #ffffff;
        caret-color: #ffffff;
    }

    .border-theme {
        border-radius: 3px;
    }

    /*lower right buttons*/
    .controls-right-button svg path {
        fill: #d9d9d9 !important;
    }

    /*delete for everyone/modal pop up*/
    .modal .modal-content {
        background-color: #404040;
    }

    /*input bar pasted modal and close button*/
    .conversation-input-bar-paste-modal {
        background-color: #404040;
    }

    close-icon {
        fill: #d9d9d9;
    }

    .conversation-input-bar__input {
        background-color: #1c1c1c;
    }

    /* input bar @mention styling */
    .conversation-input-bar-mention-suggestion {
        background-color: #404040;
    }

    /*image pop up content modal*/
    .detail-view-content {
        background-color: #404040;
    }

    /*right column and conversation details*/
    .conversation-details {
        background-color: #404040;
    }

    close-icon.right-panel-close.icon-button path {
        fill: #d9d9d9;
    }

    mute-icon.right-panel-mute.icon-button path {
        fill: #d9d9d9;
    }

    .panel__action-item__icon path {
        fill: #d9d9d9;
    }

    participant-item disclose-icon {
        fill: #d9d9d9;
        opacity: 1;
    }

    /* participants devices panel */
    .panel__page {
        background-color: #404040;
    }

    .text-graphite-dark {
        color: #d9d9d9 !important;
    }

    /* preferences menu */
    .preferences-titlebar {
        background-color: #404040;
        border-bottom-color: #1c1c1c;
    }
}
